@()(implicit request: Request[_])

    @main("Add task") {
        <div class=" d-flex justify-content-center align-items-center flex-column w-100 h-100">

            @if(request.flash.get("error").isDefined) {
                <div class="error_message alert alert-danger d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                        Start date must be lower than the end date
                    </div>
                </div>
            }
            <form id="login_form" class="d-flex justify-content-center align-items-center flex-column" action="/add_task"
            method="post" enctype="multipart/form-data">
                <h1 class="fs-3 mb-3">Add task</h1>

                <div class="form-group w-100 mt-3">
                    <label for="task_title">Task title</label>
                    <input name="title" id="task_title" type="text" class="form-control mt-2" placeholder="Enter task title"
                    maxlength="50" required>
                </div>

                <div class="form-group w-100 mt-3">
                    <label for="task_desc">Task description</label>
                    <textarea name="desc" id="task_desc" class="form-control mt-2"
                    placeholder="Enter task description" maxlength="500" required></textarea>
                </div>

                <div class="form-group w-100 mt-3">
                    <label for="task_start">Task start date</label>
                    <input name="start" id="task_start" type="datetime-local" class="form-control mt-2" required>
                </div>

                <div class="form-group w-100 mt-3">
                    <label for="task_end">Task end date</label>
                    <input name="end" id="task_end" type="datetime-local" class="form-control mt-2" required>
                </div>

                <div class="form-group w-100 mt-3">
                    <label for="task_files">Attach files</label>
                    <input name="files" id="task_files" type="file" class="form-control mt-2" placeholder="Attach files" multiple>
                </div>

                <div class="w-100 d-flex flex-row-reverse">
                    <button type="submit" class=" w-25 btn btn-success mt-3">Submit</button>
                </div>

            </form>


        </div>

    }