@import models.entity.ListTaskDto
@(tasks: Seq[ListTaskDto])(implicit r: Request[_])

    @main("tasks") {
        <div class="todo-cards">

        @for(task <- tasks) {

            <div class="card todo-card">
                <h5 class="card-header d-flex justify-content-between align-items-center">@task.title
                <a href="#" class="btn btn-outline-primary">Edit</a>
                </h5>

                <div class="card-body">
                    <p class="card-text">@task.description</p>

                    @if(task.files.nonEmpty) {
                        <table class="table mt-4 mb-3">
                            <thead>
                                <tr>
                                    <th scope="col">Files</th>
                                    <th scope="col">Download</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(file <- task.files) {
                                <tr>
                                    <td>
                                    @file.fileName
                                    </td>
                                    <td>
                                        <a href="/download_file?file=@file.uuid">Download</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-danger" href="/delete_file?file=@file.uuid">Remove</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }

                    <div class="card-control mt-5">
                        <span class="display-6 h2 card-date">Start time: @task.start</span>
                        <span class="display-6 h2 card-date">End time: @task.end</span>
                        <div >
                            <span class="display-6 card-date ">Status: </span>
                            @if(task.status == "Overdue") {
                                <span class="display-6 link-danger card-status">@task.status</span>
                            }
                            @if(task.status == "Planned") {
                                <span class="display-6 link-primary card-status">@task.status</span>
                            }
                            @if(task.status == "In Action") {
                                <span class="display-6 link-warning card-status">@task.status</span>
                            }
                            @if(task.status == "Done") {
                                <span class="display-6 link-success card-status">@task.status</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        </div>
    }